@charset "UTF-8";

/* 共通部分 
-------------------------------------------*/
html{
    font-size: 100%;
}
body{
    /* フォント */
    font-family: 'Noto Sans JP', sans-serif;
    /* フォントウェイト */
    font-weight: 100;
    /* 行間 */
    line-height: 1.7;
    /* 文字色 */
    color: #1d1d1f;
    /* 表示領域 */
    min-height: 100vh;
    /* 相対位置に指定 */
    position: relative;
}
a{
    /* 装飾なし */
    text-decoration: none;
    /* 文字色 */
    color: #1d1d1f;
    transition: 0.2s;
}
li{
    list-style: none;
}
img{
    /* 画像がはみ出るのを防止 */
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 100;
}
/* ラッパー */
#wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ヘッダー 
-------------------------------------------------*/
.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
.logo{
    margin: 8px 0 0 20px;
}
.logo-text{
    font-family: 'Festive', cursive;
    font-size: 30px;
}

/* メニューボタン */
.menu-btn{
    position: relative;
    width: 40px;
    height: 30px;
    margin: 0 20px 0 0;
}
.menu-btn-line{
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #1d1d1f;
    transition: 0.3s;
}
.line1{
    transform: translateY(-10px);
}
.line3{
    transform: translateY(10px);
}
.line1-rotate{
    transform: rotateZ(135deg);
}
.line2-rotate{
    display: none;
}
.line3-rotate{
    transform: rotateZ(-135deg);
}


/* メニュー画面 
--------------------------------------------------*/
.main-nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.98);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    right: 100%;
    padding-top: 50px;
    transition: 0.3s;
    z-index: 99;
}
.main-nav a{
    font-family: 'Festive', cursive;
    color: #1d1d1f;
    font-size: 40px;
    line-height: 2.5;
}
.main-nav a:hover{
    color: rgb(200, 200, 200);
}
.show{
    transform: translate3d(100%, 0, 0);
}

/* メインコンテンツ共通
---------------------------------------------------*/
.page-title{
    text-align: center;
    font-size: 60px;
    border-bottom: solid 3px#1d1d1f;
    font-family: 'Festive', cursive;
    margin-bottom: 60px;
}

/* #home 
--------------------------------------------------*/
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/home_bg.jpg");
    background-size: cover;
}
.home-title{
    font-family: 'Festive', cursive;
    font-size: 120px;
}

/* #profile 
--------------------------------------------------*/
#profile{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.band-profile{
    font-size: 16px;
    margin: -30px 10px 0 10px;
}
.menbers-title{
    text-align: center;
    font-size: 30px;
    border-bottom: solid 1px #1d1d1f;
    margin: 40px 0 30px 0;
}
.menber-content{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 60px 60px 60px;
}
.menber-title{
    font-size: 24px;
}


/* #info 
--------------------------------------------------*/
#info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-day{
    font-size: 14px;
}
.info-item{
    display: flex;
    margin-bottom: 60px;
}
.info-img{
    width: 370px;
    height: 246px;
    margin-right: 20px;
}

/* #disc 
--------------------------------------------------*/
#disc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.disc-content{
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 60px 60px 60px;
}
.disc-text{
    font-size: 14px;
}

/* #live 
--------------------------------------------------*/

/* #video 
--------------------------------------------------*/

/* #goods 
--------------------------------------------------*/

/* フッター 
--------------------------------------------------*/



/* タブレット版
--------------------------------------------------
--------------------------------------------------*/
@media(max-width:1024px) {
    #home{
        min-height: 50vh;
    }
}
/* /タブレット版
--------------------------------------------------*/


/* モバイル版
--------------------------------------------------
--------------------------------------------------*/
@media(max-width:600px){
    /* メニュー画面 -----------------------------*/
    .main-nav a{
        font-size: 30px;
    }

    /* #home ---------------------*/
    #home{
        min-height: 33vh;
    }
    .home-title{
        font-size: 60px;
    }

    /* メインコンテンツ共通 ----------*/
    .page-title{
        font-size: 30px;
    }

    /* #profile --------------------------------*/
    .menbers-title{
        font-size: 20px;
    }
    .menber-title{
        font-size: 20px;
    }

        /* #info 
    --------------------------------------------------*/
    .info-item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .info-img{
        margin: 0;
        width: 300px;
        height: 199px;
    }
    /* #disc 
    --------------------------------------------------*/

    /* #live 
    --------------------------------------------------*/

    /* #video 
    --------------------------------------------------*/

    /* #goods 
    --------------------------------------------------*/

    /* フッター 
    --------------------------------------------------*/
}
/* /モバイル版
--------------------------------------------------*/